@model FavoriteListViewModel

<div class="row checkoutForm">
    <h4>Your Favorite Comic List</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="align-middle">Name of Comic</th>
                <th class="align-middle">Picture of Comic</th>
                <th class="align-middle">Information about the Comic</th>
                <th class="align-middle">Remove from Favorite List</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.FavoriteService.FavoriteListItems)
            {
            <tr>
                <td class="align-middle">@line.Comic.Title</td>
                <td class="align-middle"> <img src="@line.Comic.ImageUrl" class="img-fluid" alt="" /></td>
                <td class="align-middle" style="text-align: justify">@line.Comic.Info</td>
                <td class="align-middle">
                    <a class="btn btn-primary" id="cartButton" sp-controller="FavoriteList" asp-action="RemoveFromFavoriteList" asp-route-comicId="@line.Comic.ComicId">
                        Remove
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-primary" asp-controller="Origin" asp-action="ListOrigin" asp-route-origin="Japanese">Japanese</a>
            <a class="btn btn-primary" asp-controller="Origin" asp-action="ListOrigin" asp-route-origin="Korean">Korean</a>
            @*<a class="btn btn-primary" asp-controller="Author" asp-action="ListAuthor" asp-route-author="Hichov">Hichov</a>*@
        </div>
    </div>
</div>