@foreach (var origin in Model)
{
    <a class="navbar-brand"
       asp-controller="Origin" asp-action="ListOrigin"
       asp-route-origin="@origin.Name">@origin.Name</a>
}
<a class="navbar-brand" asp-controller="Origin" asp-action="ListOrigin"> View all comics</a>