@foreach (var origin in Model)
{
    <a class="navbar-brand"
       asp-controller="Comic" asp-action="List"
       asp-route-origin="@origin.Name">@origin.Name</a>
}
<a class="navbar-brand" asp-controller="Comic" asp-action="List" asp-route-origin=""> View all comics</a>
