<h1>Welcome to ASP.NET Core!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>What is ASP.NET Core?`</h2>
            <p>
                ASP.NET Core is a lean and composable framework for building web and cloud applications. ASP.NET Core is fully open source and available on GitHub.
                ASP.NET Core is available on Windows, Mac, and Linux.
            </p>
        </div>
    </div>
</div>