@model HomeViewModel

@*@{
    ViewData["Title"] = "Home Page";
}*@

<div class="text-center">

    <h2>Prefered comics of the week </h2>
    <br>

    <div class="row">
        @foreach (var comic in Model.PreferedComics)
        {

            <partial name="ComicsSummary" model="comic" />

        }
    </div>
</div>
