@model HomeViewModel

@*@{
    ViewData["Title"] = "Home Page";
}*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Prefered comics of the week </h2>
    <h4>Clients preferences - just for you!</h4>

    <div class="row">
        @foreach (var comic in Model.PreferedComics)
        {
            @Html.Partial("ComicsSummary", comic)
        }
    </div>
</div>
