@model ComicListViewModel

    <div class="row marginTop">
        @foreach (var comic in Model.Comics)
        {
           
            <partial name="ComicsSummary" model="comic" />
        }
    </div>