@foreach (var genre in Model)
{
    <a class="navbar-brand"
       asp-controller="Genre" asp-action="ListGenre"
       asp-route-genre="@genre.Name">@genre.Name <img src="@genre.Icon" class="img-fluid" style="float: right; width:5vh; height: 5vh; padding-left: 1vh" alt=""></a>
}
<a class="navbar-brand" asp-controller="Origin" asp-action="ListOrigin"> View all comics</a>